body
{
	background:url("pexels-photo-593319.jpeg");
	background-size:cover;
	font-family: sans-serif;
}
.loginbox
{
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 500px;
	padding: 50px 40px;
	box-sizing: border-box;
	height: 420px;
	background-color: #fff;
	/*background: url("journey-login-background.png");*/
	text-align: center;
	border-radius: 4%;

}
h2{
	color: #000;
	text-align: center;
}

.loginbox input
{
	width: 100%;
}
/*.loginbox input[type="text"],
.loginbox input[type="Password"]
{
	border: none;
	border-bottom: 1px solid #555;
	outline: none;
	height: 40px;
	background: transparent;
	color: #000;
	font-size: 16px;
}
*/
.loginbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background: #888800;
	cursor: pointer;
	border-radius: 30px;
	width: 50%;

}
.loginbox input[type="submit"]:hover
{
	background: #999900;
	
}
.loginbox a
{
	color: #000;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
